
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
/* -lightblue to white gradient */
header {
  background-image: linear-gradient(lightblue,white);
  width: 100%;
  height: 150;
}
body {

  margin: 0;
  background: #ccc;
}
  

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}
  /* Company name and my name */
h1 {
  background-color: black;
  border-radius: 90%;
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 208px;
  height: 138px;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  padding: 33px 0;
  color: firebrick;
  text-shadow: 1px 1px 1px black;
}


